<h1>Register Page</h1>
<form (ngSubmit)='onSubmit()' [formGroup]='registerForm'>
  <div class='container'>
    <mat-form-field>
      <input formControlName='name' matInput placeholder='Full Name'>
      <mat-hint *ngIf='registerForm.controls.name.errors'>Please write your name!</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input formControlName='username' matInput placeholder='Your Username'>
      <mat-hint *ngIf='registerForm.controls.username.errors'>Username is required</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input formControlName='email' matInput placeholder='Your Email'>
      <mat-hint *ngIf='registerForm.controls.email.errors'>Email is required</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input formControlName='password' matInput placeholder='Your Password' type='password'>
      <mat-hint *ngIf='registerForm.controls.password.errors'>Password is required, it must be minimal 6 characters length,
        and maximal 18
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input formControlName='passwordConfirm' matInput placeholder='Confirm Your Password' type='password'>
      <mat-hint *ngIf='registerForm.controls.passwordConfirm.errors'>Password must be the same as the first password</mat-hint>
    </mat-form-field>

    <button [disabled]='registerForm.invalid' color='primary' mat-flat-button type='submit'>Register</button>
  </div>
</form>

<h3 *ngIf="registerForm.invalid">Form contains following errors</h3>
<small *ngIf="registerForm.controls.password.hasError('passwordInvalid')">Password is not containing a number</small><br>
<small *ngIf="registerForm.hasError('passwordsNotMatching')">Passwords aren't matching</small>
